$cell-size: 20rem;
$cell-margin: 25px;

body.no-scroll {
    overflow: hidden;
}

.portfolio {
    margin: 100px 40px 20px;

    &-sort {
        $underline-height: .5em;
        $transition-duration : .5s;
        $spacing: 4em;


        position: relative;
        display: flex;
        padding: $underline-height 0;
        margin: 1em 0;

        &--underline {
            display: block;
            position: absolute;
            z-index: 0;
            bottom: 0;
            left: 0;
            width: $spacing;
            background: #222;
            height: calc($underline-height / 2);
            mix-blend-mode: initial;
            transition: transform $transition-duration ease-in-out;
        }

        &--item {
            display: inline-block;
            width: $spacing;
            padding: .5em 0;
            text-align: center;
            cursor: pointer;

            &:hover {
                color: var(--third-color);
            }
        }
    }

    &-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax($cell-size, 1fr));
        grid-gap: $cell-margin;
        grid-auto-rows: 1fr;

        /*
        &::before {
            content: '';
            width: 0;
            padding-bottom: 100%;
            grid-row: 1 / 1;
            grid-column: 1 / 1;
        }
        */

        & > *:first-child {
            grid-row: 1 / 1;
            grid-column: 1 / 1;
        }


        &__item {
            cursor: pointer;
            display: block;
            overflow: hidden;
            padding-bottom: 100%;
            position: relative;

            i {
                position: absolute;
                z-index: 1;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 4em;
                color: var(--bg-color);
                opacity: 0;
                transition-duration: .3s;


            }

            &--image {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                transition-duration: .3s;
            }

            &:hover {
                img {
                    transition-duration: .3s;
                    filter: brightness(0.6);
                }

                i {
                    opacity: 1;
                }
            }
        }
    }
}

.lightbox {
    position: fixed;
    z-index: 2;
    height: 0;
    width: 0;
    //text-align: center;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
    align-items: center;
    justify-content: space-around;
    display: flex;

    &-right, &-left {
        font-size: 6em;
        background: transparent;
        color: var(--bg-color);
        cursor: pointer;
        transition-duration: .2s;

        &:hover {
            filter: brightness(.7);
        }
    }

    &-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: min-content;
        height: 90%;
        width: 70%;
        position: relative;

        &__information {
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 100%;
            background-color: var(--bg-color);
            //max-width: 35%;
            padding: 20px;

            &--title {
                margin-bottom: 10px;
                font-size: 1.6vw;
            }

            &--information {
                margin: 10px 0;
            }

            &--description {
                margin-bottom: 10px;
                font-size: 1.4rem;
            }
        }

        &--image {
            height: 100%;
            width: inherit;
            object-fit: contain;
            background: rgb(37, 37, 37);

        }

        &__button {
            color: var(--main-color);
            position: absolute;
            right: 0;
            bottom: 0;
            margin: 10px;
            font-size: 2em;

            &--full, &--download {
                color: var(--main-color);

                &:hover {
                    color:rgb(71, 71, 71);
                }
            }
        }

    }

    &:target {
        outline: none;
     
        width: 100%;
        height: 100%;
        opacity: 1 !important;
        z-index: 999;
        overflow-x : hidden;
        
    }

    &__button {
        position: absolute;
        right: 2%;
        top: 2%;

        width: 2.2em;
        height: 2.2em;
        color: var(--bg-color);
        border: 0.15em solid var(--bg-color);
        margin: 0.2em;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        font-size: 1.2rem;

        &::after {
            content: '';
            position: absolute;
            width: 0%;
            height: 0%;
            z-index: -1;
            background-color: var(--bg-color);
            border-radius: 50%;
            transition: all 0.25s ease-in-out;
        }
    }
}

.carousel-container {
    height: 100%;
    width: inherit;
}

.carousel {
    height: 100%;
    overflow: hidden;
    text-align: center;
    position: relative;

    &__controls, &__activator {
        display: none;
    }

    &__controls {
        display: block;
        opacity: 1;
    }

    &__control {
        height: 30px;
        width: 30px;
        margin-top: -15px;
        top: 50%;
        position: absolute;
        display: block;
        cursor: pointer;
        border-width: 5px 5px 0 0;
        border-style: solid;
        border-color: #fafafa;
        opacity: 0.35;
        outline: 0;
        z-index: 3;
    
        &:hover {
            opacity: 1;
        }
    
        &--backward {
            left: 10px;
            transform: rotate(-135deg);
        }
    
        &--forward {
            right: 10px;
            transform: rotate(45deg);
        }
    }

    &__indicators {
        position: absolute;
        bottom: 20px;
        width: 100%;
        text-align: center;
    }

    &__indicator {
        height: 15px;
        width: 15px;
        border-radius: 100%;
        display: inline-block;
        z-index: 2;
        background-color: #fafafa;
        cursor: pointer;
        opacity: 0.35;
        margin: 0 2.5px 0 2.5px;
    
        &:hover {
            opacity: 0.75;
        }
    }

    &__track {
        //position: absolute;
        height: 100%;
        width: -webkit-fill-available;

        transition: transform 0.5s ease 0s;
    

    }

    &__slide {
        //position: absolute;


        height: 100%;
        width: inherit;
        -o-object-fit: contain;
        object-fit: contain;
        background: rgb(37, 37, 37);
      }

}


@media all and (max-width: 1200px) {
    .portfolio {
        margin: 100px 20px 20px;
    }

    .lightbox-container__information--description {
        font-size: 1.2rem;
    }
    
}

@media all and (max-width: 850px) {
    .portfolio-container {
        grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
        grid-gap: 15px;
    }

    .carousel-container {
        height: 100%;
        width: 100%;
    }

    .lightbox-container {
        flex-direction: column;
        height: 85%;
        width: 60%;

        &--image {
            width: 100%;
        }

        &__information {
            &--title {
                margin-bottom: 5px;
                font-size: 4vw;
            }

            &--description {
                font-size: 1rem;
            }
        }
    }
}

@media all and (max-width: 550px) {
    .lightbox-right, .lightbox-left {
        font-size: 4em;
    }

    .lightbox-container {
        width: 70%;
    }
}


@media all and (max-width: 400px) {
    .lightbox-right, .lightbox-left {
        font-size: 3em;
    }

    .lightbox-container {
        height: 80%;
        width: 75%;
    }
    
}


@media all and (max-width: 385px) {
    .portfolio-container {
        grid-template-columns: repeat(auto-fill, minmax(7em, 1fr));
        grid-gap: 15px;
    } 
}


