// #915d60

:root {
    --bg-color: #fcfcfc;
    --main-color: #000000;
    --main-hover-color: #3f3f3f;
    --second-color: #25161b;
    --third-color: #4f4c4c;
    --nav-text-color: #080808;
    --nav-text-hover-color: #4d4d4d;
    --heading-color: 
    #181818;
    --small-text-color: #c7c7c7;
    --very-small-text-color: #dbdbdb;
}

@font-face {
  font-family: Tan-Pearl;
  src: url('../assets/font/tan-pearl.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: Bangan-Expanded;
    src: url('../assets/font/Balgan-Expanded.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: GlacialIndifference;
    src: url('../assets/font/GlacialIndifference.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



.warning {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(216, 216, 0);
    &-text {
        color: var(--main-color);
        font-size: 1.2rem;
        margin: 15px 0;
    }
}



* {
    font-family: 'GlacialIndifference', sans-serif;
}




body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    background-color: var(--bg-color);
}

h1 {
    font-family: "Tan-Pearl", serif;
    color: var(--main-color);
}

h2 {
    font-family: "Bangan-Expanded", serif;
    color: var(--second-color);

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;

    &-top {
        &--image {
            width: 55%;
            height: auto;
            margin: 0 auto;
            opacity: 0.8;
            filter: drop-shadow(5px 5px 0px #b8b8b8);
        }

        &_name {
            position: absolute;
            top: 45%;
            left: 0; 
            right: 0; 
    
            &--title {
                color: var(--main-color);
                font-size: 5.5rem;
                margin-bottom: 10px;
                text-transform: uppercase;
            }
    
            &--subtitle {
                text-transform: uppercase;
                color: var(--third-color);
                font-size: 2.6rem;
            }
        }
    }
}

.bd-container {
    margin: 60px 0 40px;
    display: flex;


    &--image {
        width: 400px;
    }

    
}