// #915d60

:root {
    --bg-color: #fcfcfc;
    --main-color: #000000;
    --main-hover-color: #3f3f3f;
    --second-color: #25161b;
    --third-color: #4f4c4c;
    --nav-text-color: #080808;
    --nav-text-hover-color: #4d4d4d;
    --heading-color: 
    #181818;
    --small-text-color: #c7c7c7;
    --very-small-text-color: #dbdbdb;
}

@font-face {
  font-family: Tan-Pearl;
  src: url('../assets/font/tan-pearl.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: Bangan-Expanded;
    src: url('../assets/font/Balgan-Expanded.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: GlacialIndifference;
    src: url('../assets/font/GlacialIndifference.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



.warning {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(216, 216, 0);
    &-text {
        color: var(--main-color);
        font-size: 1.2rem;
        margin: 15px 0;
    }
}



* {
    font-family: 'GlacialIndifference', sans-serif;
}




body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    background-color: var(--bg-color);
}

h1 {
    font-family: "Tan-Pearl", serif;
    color: var(--main-color);
}

h2 {
    font-family: "Bangan-Expanded", serif;
    color: var(--second-color);

}


.section-line {
    width: 180px;

    hr {
        background-color: var(--main-color);
        height: 5px;
        margin-top: 5px;
        border: none;
        border-top-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin-top: 50px;

    &-top {
        &--image {
            width: 55%;
            height: auto;
            margin: 0 auto;
            opacity: 0.8;
            filter: drop-shadow(5px 5px 0px #b8b8b8);
        }

        &_name {
            position: absolute;
            top: 45%;
            left: 0; 
            right: 0; 
    
            &--title {
                color: var(--main-color);
                font-size: 5.5rem;
                margin-bottom: 10px;
                text-transform: uppercase;
            }
    
            &--subtitle {
                text-transform: uppercase;
                color: var(--third-color);
                font-size: 2.6rem;
            }
        }
    }

    &-transition {
        text-transform: uppercase;
        font-size: 3rem;
        text-align: center;
        margin-top: 250px;
    }
}

.bd-container {
    margin: 125px 0 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap : 50px;

    &-left {
        display: flex;
        flex-direction: column;

        &-images {
            display: flex;
            &--image {
                width: 200px;
                height: auto;
                margin-right: 20px;
                filter: drop-shadow(5px 5px 0px #b8b8b8);
            }
        }

        &--title {
            font-size: 3.2rem;
            margin-top: 20px;
        }

        &--text {
            max-width: 600px;
            margin: 20px 0;
        }
    }


    &-right {
        &--image {
            width: 450px;
        }
    }   
}

.jv-container {
    margin: 125px 0 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    gap : 50px;

    &-left {
        display: flex;
        flex-direction: column;

        &-images {
            display: flex;
            &--image {
                width: 150px;
                height: auto;
                margin-right: 20px;
                filter: drop-shadow(5px 5px 0px #b8b8b8);
            }
        }

        &--title {
            font-size: 3.2rem;
            margin-top: 20px;
        }

        &--text {
            max-width: 600px;
            margin: 20px 0 30px;
        }

        &--avatar {
            position: absolute;
            height: 180px;
            width: auto;
            top: 10px;
            z-index: -1;
            transform: translateX(-50%);
            opacity: 0.5;
        }

        iframe {
            position: absolute;
            height: 175px;
            width: 520px;
            bottom: -175px;
        }
    }


    &-right {
        &--image {
            width: 450px;
        }
    }   
}

@media all and (max-width: 1330px) {
    .jv-container-left-images--image {
        width: 130px;
    }
    .jv-container-right--image {
        width: 400px;
    }
}

@media all and (max-width: 1200px) {
    .bd-container {
        flex-direction: column;

        &-left--title {
            text-align: center;
        }

        &-right--image {
            width: 500px;
        }
    }

    .jv-container {
        flex-direction: column;

        &-left--title {
            text-align: center;
        }

        &-left-images {
            justify-content: center;
        }

        &-right--image {
            width: 500px;
        }

        iframe {
            left: 0; 
            right: 0; 
            margin-left: auto; 
            margin-right: auto;
            bottom: -200px;
        }
    }
}

@media all and (max-width: 750px) {
    .bd-container {
        &-left--images--image {
            width: 100px;
        }
    }
    
    
    .jv-container-left {
        max-width: 470px;

        &--avatar {
            height: 130px;
        }

        &-images--image {
            width: 100px;
        }
    }

    .jv-container-right--image {
        width: 300px;
    }   
}

@media all and (max-width: 700px) {
    .bd-container-left {
        align-items: center;

        &-images {
            &--image {
                width: 145px;
            }
        }

        &--text {
            max-width: 500px;
        }
    }

    .bd-container-right--image {
        width: 400px;
    }
}

@media all and (max-width: 650px) {
    .container-top_name--title {
        font-size: 4.5rem;
        margin-bottom: 0;
    }

    .container-top_name--subtitle {
        font-size: 2rem;
    }
}

@media all and (max-width: 530px) {
    .container-top_name--title {
        font-size: 3.5rem;
    }

    .container-top_name--subtitle {
        font-size: 1.6rem;
    }
    
    .jv-container {
        iframe {
            height: 175px;
            width: 200px;
        }
    }

}